#btn-play {
  width: 130px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  z-index: 99;
}

#body_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  /* background: url("./星空_2.jpg"); */
  /* background-size: cover; */
  background-repeat: no-repeat;
  z-index: 1;
}

/* 押しにくいためスマホサイズの再生ボタンを大きくした */
/* 640px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 640px) {

  #btn-play {
    width: 27%;
    height: 5%;
    font-size: 20px;
  }
}
